
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div id="loginState">
        @ViewBag.LoginState
    </div>
    <div class="container">
        @using (Html.BeginForm("login", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">Please sign in</h2>

            @*<label class="sr-only" for="exampleInputEmail3">Email address</label>*@
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="exampleInputEmail3" >

            @*<label class="sr-only" for="exampleInputPassword3">Password</label>*@
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="exampleInputPassword3">

            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>

            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
        }
    </div>
</body>
</html>
